 <div id="unique_id_scroll_section" class="ma-0 scrollable">
    <MudPaper Width="100%" Height="100%" Style="padding:1em 1em" Elevation="0" Outlined="false">
        <MudGrid>

        @foreach(var member in Members)
        {
            <MudItem xs="3">

           <MudCard Style="width:90%; height:100%">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.body1" Color="Color.Primary">@member.Name @member.Surname</MudText>
                        @if(IsEmployeeDeleted(@member))
                        {
                            <MudText Typo="Typo.body2" Color="Color.Error">Removed</MudText>
                        }
                        else
                        {
                            <MudText Typo="Typo.body2" Color="Color.Secondary">@member.Role</MudText>
                        }
                    </CardHeaderContent>
                    <CardHeaderActions>
                        <MudIconButton Disabled="@IsEmployeeDeleted(@member)" Icon="@Icons.Material.Filled.Edit" Color="Color.Warning" OnClick="@(() => EditEmployee(@member))"/>
                    </CardHeaderActions>
                </MudCardHeader>
                <MudCardMedia Image="@member.Photo" Height="200"/>
                <MudCardContent>
                    <MudText Typo="Typo.body2" Color="Color.Primary">Activity Period</MudText>
                    <MudText Typo="Typo.body2" Color="Color.Primary">@(member.ActiveFrom.ToString("dd'/'MM'/'yyyy") + " - " + (IsEmployeeDeleted(@member) ? member.ActiveTo!.Value.ToString("dd'/'MM'/'yyyy") : "Now"))</MudText>
                    
                </MudCardContent>
                <br/>
                 <MudStack Row="true" Justify="Justify.SpaceBetween" AlignItems="AlignItems.End" Style="padding:1em 1em">
                         <MudButton Variant="Variant.Outlined" Color="Color.Primary" OnClick="@(() => MemberDetails(member.Id))">View</MudButton>
                         <MudButton Variant="Variant.Outlined" Color="Color.Error" OnClick="@(() => DeleteEmployee(member))">Remove</MudButton>
                </MudStack>
               
        </MudCard>
        </MudItem>
        }
       </MudGrid>
          <MudScrollToTop TopOffset="100"
                        Selector="#unique_id_scroll_section"
                        VisibleCssClass="visible absolute"
                        HiddenCssClass="invisible"/>
    </MudPaper>
</div>