@using MudBlazor
<MudDialog Style="width:550px; height: 750px">
    <TitleContent>
        <MudText Typo=Typo.h4>@(IsNew ? "Add Employee" : "Update Employee")</MudText>
    </TitleContent>
    <DialogContent>
            <MudStack Row="true" Style="width:100%; height: 60%">
                <div style="width:50%">
                   <MudFileUpload T="IBrowserFile" Style="height: 80%; width:100%" OnFilesChanged="OnInputFileChanged" Hidden="false"InputStyle="opacity:0"
                        @ondragleave="@ClearDragClass" @ondragend="@ClearDragClass">
                       <ButtonTemplate>
                           <MudPaper Style="height: 270%;width: 100%;margin-top: -25px !important;" Outlined="true" Class="@DragClass">
                               <MudText Typo="Typo.h6">Drag and drop files here or click</MudText>
                           </MudPaper>
                       </ButtonTemplate>
                   </MudFileUpload>
                   <MudText Style="margin-top:-10px">File Uploaded</MudText>
                   <MudToolBar DisableGutters="true" Style="margin-top:-10px" Class="gap-4">
                       <MudButton OnClick="Upload" Disabled="false" Color="Color.Primary" Variant="Variant.Filled">Upload</MudButton>
                       <MudButton OnClick="Clear" Disabled="false" Color="Color.Error" Variant="Variant.Filled">Clear</MudButton>
                   </MudToolBar>
                </div>
                <EditForm EditContext="_employeeContext">
                <DataAnnotationsValidator/>
                <div style="width:100%">
                    <MudTextField Label="Name" HelperText="Min. 3 characters"
                            @bind-Value="Employee.Name" For="@(() => Employee.Name)"  Required="true" Variant="Variant.Outlined"/>
                    <MudTextField Label="Surname" HelperText="Min. 3 characters" Class="mt-3"
                            @bind-Value="Employee.Surname" For="@(() => Employee.Surname)" Required="true" Variant="Variant.Outlined"/>
                    <MudTextField  Label="Age" HelperText="Employye's age must be between 18 and 70" Class="mt-3"
                            @bind-Value="Employee.Age" For="@(() => Employee.Age)" Required="true" Variant="Variant.Outlined"/>
                    <MudTextField  Label="Role" HelperText="Min. 5 characters" Class="mt-3"
                            @bind-Value="Employee.Role" For="@(() => Employee.Role)" Required="true" Variant="Variant.Outlined"/>
                </div>
                </EditForm>
            </MudStack>
            <MudText>Responsibilities</MudText>
            <MudStack Row="true">
                <MudTextField @bind-Value="CurrentResponsibility" Style="width:100%" HelperText="Enter responsibility" Label="Responsibility" Variant="Variant.Outlined"/>
                <MudButton Variant="Variant.Filled" Style="width:30%; height:50%;margin-top: 1em" OnClick="@AddResponsibility" Color="Color.Primary">Add</MudButton>
            </MudStack>
            <div id="unique_id_scroll_section" class="ma-0" style="height:90px;overflow: auto;">
                <MudPaper Width="100%" Height="80px" Elevation="2" Outlined="true">
                    <MudGrid>
                        @foreach(var responsibility in @Employee.Responsibilities)
                        {
                            <MudItem xs="3">
                                <MudChip Color="Color.Secondary" OnClose="CloseChip">@responsibility</MudChip>
                            </MudItem>
                        }
                    </MudGrid>
                     <MudScrollToTop TopOffset="100"
                        Selector="#unique_id_scroll_section"
                        VisibleCssClass="visible absolute"
                        HiddenCssClass="invisible"/>
                </MudPaper>
            </div>
    </DialogContent>
    <DialogActions>
        <MudStack Row="true" Justify="Justify.SpaceBetween" Style="width:100%;padding: 0em 1em;">
            <MudButton OnClick="@Close" Color="Color.Error" Variant="Variant.Filled">Cancel</MudButton>
            <MudButton Disabled="@(!_employeeContext.Validate())" Color="Color.Success" OnClick="Save" Variant="Variant.Filled">Create</MudButton>
        </MudStack>
    </DialogActions>
</MudDialog>