@using MudBlazor
@inherits LayoutComponentBase

<MudThemeProvider @ref="@MudThemeProvider" Theme="MudTheme" @bind-IsDarkMode="_isDarkMode"/>
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <MudPaper Outlined="true" Height="7vh" Elevation="0" Square="true" >
            <MudPaper Outlined="false" Elevation="0" Height="100%" Width="60%" Style="float:right;">
                <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween" Style="height: 100%; width:98%">
                    <MudText Typo="Typo.h6">Team Manager</MudText>
                    <MudButton OnClick="@ChangeTheme" Color="Color.Primary" Variant="Variant.Filled">
                        <MudIcon Icon="@(_isDarkMode ? @Icons.Material.Filled.Nightlight : @Icons.Material.Filled.WbSunny)"></MudIcon>Change Theme
                    </MudButton>
            </MudStack>
            </MudPaper>
        </MudPaper>
        @*<div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>*@
        <article class="content px-4">
                @Body
        </article>
    </main>
</div>
